In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
import pandas as pd
import io
data = pd.read_csv('https://raw.githubusercontent.com/JanviAjudiya/DS_Pra-2_Data-prerocessing/main/merged_data_cleaned.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1339 entries, 0 to 1338
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1339 non-null   int64
 1   Species                1339 non-null   object
 2   Owner                  1332 non-null   object
 3   Country.of.Origin      1338 non-null   object
 4   Farm.Name              980 non-null    object
 5   Lot.Number             276 non-null    object
 6   Mill                   1021 non-null   object
 7   ICO.Number             1182 non-null   object
 8   Company                1130 non-null   object
 9   Altitude               1113 non-null   object
 10  Region                 1280 non-null   object
 11  Producer               1107 non-null   object
 12  Number.of.Bags         1339 non-null   int64
 13  Bag.Weight             1339 non-null   object
 14  In.Country.Partner     1339 non-null   object
 15  Harvest.Year           1292 non-null   object
 16  Grading.Date           1339 non-null   object
 17  Owner.1                1332 non-null   object
 18  Variety                1113 non-null   object
 19  Processing.Method      1169 non-null   object
 20  Aroma                  1339 non-null   float64
 21  Flavor                 1339 non-null   float64
 22  Aftertaste             1339 non-null   float64
 23  Acidity                1339 non-null   float64
 24  Body                   1339 non-null   float64
 25  Balance                1339 non-null   float64
 26  Uniformity             1339 non-null   float64
 27  Clean.Cup              1339 non-null   float64
 28  Sweetness              1339 non-null   float64
 29  Cupper.Points          1339 non-null   float64
 30  Total.Cup.Points       1339 non-null   float64
 31  Moisture               1339 non-null   float64
 32  Category.One.Defects   1339 non-null   int64
 33  Quakers                1338 non-null   float64
 34  Color                  1121 non-null   object
 35  Category.Two.Defects   1339 non-null   int64
 36  Expiration             1339 non-null   object
 37  Certification.Body     1339 non-null   object
 38  Certification.Address  1339 non-null   object
 39  Certification.Contact  1339 non-null   object
 40  unit_of_measurement    1339 non-null   object
 41  altitude_low_meters    1109 non-null   float64
 42  altitude_high_meters   1109 non-null   float64
 43  altitude_mean_meters   1109 non-null   float64
dtypes: float64(16), int64(4), object(24)
memory usage: 460.4+ KB

In [ ]:
data.head()

   Unnamed: 0  Species  ... altitude_high_meters altitude_mean_meters
0           0  Arabica  ...               2200.0               2075.0
1           1  Arabica  ...               2200.0               2075.0
2           2  Arabica  ...               1800.0               1700.0
3           3  Arabica  ...               2200.0               2000.0
4           4  Arabica  ...               2200.0               2075.0

[5 rows x 44 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
data['Species'].value_counts()

Arabica    1311
Robusta      28
Name: Species, dtype: int64

**(i) Label Encoder**

In [ ]:
le=LabelEncoder()
data['Number.of.Bags']=le.fit_transform(data['Number.of.Bags'])
data['Number.of.Bags'].value_counts()

104    242
110    176
10     108
1       95
119     79
      ...
75       1
77       1
78       1
79       1
0        1
Name: Number.of.Bags, Length: 131, dtype: int64

In [ ]:
le.classes_

array([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
         11,   12,   13,   14,   15,   16,   17,   18,   19,   20,   21,
         22,   23,   24,   25,   26,   27,   28,   29,   30,   31,   32,
         33,   35,   36,   37,   38,   39,   40,   42,   43,   44,   45,
         48,   49,   50,   51,   53,   54,   56,   58,   60,   62,   65,
         66,   69,   70,   74,   75,   77,   80,   82,   84,   85,   90,
         93,   94,  100,  114,  120,  121,  123,  125,  127,  129,  130,
        134,  135,  138,  140,  149,  150,  160,  165,  166,  167,  170,
        175,  180,  198,  200,  202,  209,  220,  223,  226,  230,  232,
        235,  240,  243,  245,  248,  250,  252,  253,  256,  270,  274,
        275,  280,  285,  288,  300,  302,  304,  305,  310,  320,  325,
        360,  377,  380,  400,  440,  450,  500,  550,  600, 1062])

**(ii) Onehot** **Encoder**

In [ ]:
data['In.Country.Partner'].value_counts()

Specialty Coffee Association                                                             313
AMECAFE                                                                                  205
Almacafé                                                                                 178
Asociacion Nacional Del Café                                                             155
Brazil Specialty Coffee Association                                                       67
Instituto Hondureño del Café                                                              60
Blossom Valley International                                                              58
Africa Fine Coffee Association                                                            49
Specialty Coffee Association of Costa Rica                                                42
NUCOFFEE                                                                                  36
Uganda Coffee Development Authority                                                       32
Kenya Coffee Traders Association                                                          22
Ethiopia Commodity Exchange                                                               18
Specialty Coffee Institute of Asia                                                        16
METAD Agricultural Development plc                                                        15
Yunnan Coffee Exchange                                                                    12
Salvadoran Coffee Council                                                                 11
Specialty Coffee Association of Indonesia                                                 10
Asociación de Cafés Especiales de Nicaragua                                                8
Centro Agroecológico del Café A.C.                                                         8
Coffee Quality Institute                                                                   7
Asociación Mexicana De Cafés y Cafeterías De Especialidad A.C.                             6
Tanzanian Coffee Board                                                                     6
Torch Coffee Lab Yunnan                                                                    2
Blossom Valley International\n                                                             1
Central De Organizaciones Productoras De Café y Cacao Del Perú - Central Café & Cacao      1
Specialty Coffee Ass                                                                       1
Name: In.Country.Partner, dtype: int64

In [ ]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['In.Country.Partner'].values.reshape(-1,1)).toarray()
one_hot.categories_

[array(['AMECAFE', 'Africa Fine Coffee Association', 'Almacafé',
        'Asociacion Nacional Del Café',
        'Asociación Mexicana De Cafés y Cafeterías De Especialidad A.C.',
        'Asociación de Cafés Especiales de Nicaragua',
        'Blossom Valley International', 'Blossom Valley International\n',
        'Brazil Specialty Coffee Association',
        'Central De Organizaciones Productoras De Café y Cacao Del Perú - Central Café & Cacao',
        'Centro Agroecológico del Café A.C.', 'Coffee Quality Institute',
        'Ethiopia Commodity Exchange', 'Instituto Hondureño del Café',
        'Kenya Coffee Traders Association',
        'METAD Agricultural Development plc', 'NUCOFFEE',
        'Salvadoran Coffee Council', 'Specialty Coffee Ass',
        'Specialty Coffee Association',
        'Specialty Coffee Association of Costa Rica',
        'Specialty Coffee Association of Indonesia',
        'Specialty Coffee Institute of Asia', 'Tanzanian Coffee Board',
        'Torch Coffee Lab Yunnan', 'Uganda Coffee Development Authority',
        'Yunnan Coffee Exchange'], dtype=object)]

In [ ]:
transformed_data = pd.DataFrame(transformed_data , 
                                columns = ['AMECAFE', 'Africa Fine Coffee Association', 'Almacafé',
        'Asociacion Nacional Del Café',
        'Asociación Mexicana De Cafés y Cafeterías De Especialidad A.C.',
        'Asociación de Cafés Especiales de Nicaragua',
        'Blossom Valley International', 'Blossom Valley International\n',
        'Brazil Specialty Coffee Association',
        'Central De Organizaciones Productoras De Café y Cacao Del Perú - Central Café & Cacao',
        'Centro Agroecológico del Café A.C.', 'Coffee Quality Institute',
        'Ethiopia Commodity Exchange', 'Instituto Hondureño del Café',
        'Kenya Coffee Traders Association',
        'METAD Agricultural Development plc', 'NUCOFFEE',
        'Salvadoran Coffee Council', 'Specialty Coffee Ass',
        'Specialty Coffee Association',
        'Specialty Coffee Association of Costa Rica',
        'Specialty Coffee Association of Indonesia',
        'Specialty Coffee Institute of Asia', 'Tanzanian Coffee Board',
        'Torch Coffee Lab Yunnan', 'Uganda Coffee Development Authority',
        'Yunnan Coffee Exchange'])
transformed_data.head()

   AMECAFE  ...  Yunnan Coffee Exchange
0      0.0  ...                     0.0
1      0.0  ...                     0.0
2      0.0  ...                     0.0
3      0.0  ...                     0.0
4      0.0  ...                     0.0

[5 rows x 27 columns]

In [ ]:
transformed_data.iloc[90, ]

AMECAFE                                                                                  0.0
Africa Fine Coffee Association                                                           0.0
Almacafé                                                                                 0.0
Asociacion Nacional Del Café                                                             0.0
Asociación Mexicana De Cafés y Cafeterías De Especialidad A.C.                           0.0
Asociación de Cafés Especiales de Nicaragua                                              0.0
Blossom Valley International                                                             0.0
Blossom Valley International\n                                                           0.0
Brazil Specialty Coffee Association                                                      0.0
Central De Organizaciones Productoras De Café y Cacao Del Perú - Central Café & Cacao    0.0
Centro Agroecológico del Café A.C.                                                       0.0
Coffee Quality Institute                                                                 0.0
Ethiopia Commodity Exchange                                                              0.0
Instituto Hondureño del Café                                                             0.0
Kenya Coffee Traders Association                                                         0.0
METAD Agricultural Development plc                                                       0.0
NUCOFFEE                                                                                 0.0
Salvadoran Coffee Council                                                                0.0
Specialty Coffee Ass                                                                     0.0
Specialty Coffee Association                                                             1.0
Specialty Coffee Association of Costa Rica                                               0.0
Specialty Coffee Association of Indonesia                                                0.0
Specialty Coffee Institute of Asia                                                       0.0
Tanzanian Coffee Board                                                                   0.0
Torch Coffee Lab Yunnan                                                                  0.0
Uganda Coffee Development Authority                                                      0.0
Yunnan Coffee Exchange                                                                   0.0
Name: 90, dtype: float64

In [ ]:
data['Number.of.Bags'][90]

68

**Normalization &** **Standardization**

In [ ]:
numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
numeric_columns

['Unnamed: 0',
 'Species',
 'Number.of.Bags',
 'Aroma',
 'Flavor',
 'Aftertaste',
 'Acidity',
 'Body',
 'Balance',
 'Uniformity',
 'Clean.Cup',
 'Sweetness',
 'Cupper.Points',
 'Total.Cup.Points',
 'Moisture',
 'Category.One.Defects',
 'Quakers',
 'Category.Two.Defects',
 'altitude_low_meters',
 'altitude_high_meters',
 'altitude_mean_meters']

In [ ]:
len(numeric_columns) , len(data.columns)

(21, 44)

In [ ]:
numeric_columns.remove('Aroma')
numeric_columns.remove('Flavor')

In [ ]:
temp_data = data[numeric_columns]
temp_data

      Unnamed: 0  Species  ...  altitude_high_meters  altitude_mean_meters
0              0        0  ...                2200.0                2075.0
1              1        0  ...                2200.0                2075.0
2              2        0  ...                1800.0                1700.0
3              3        0  ...                2200.0                2000.0
4              4        0  ...                2200.0                2075.0
...          ...      ...  ...                   ...                   ...
1334        1334        1  ...                   NaN                   NaN
1335        1335        1  ...                  40.0                  40.0
1336        1336        1  ...                 795.0                 795.0
1337        1337        1  ...                   NaN                   NaN
1338        1338        1  ...                   NaN                   NaN

[1339 rows x 17 columns]

**Normalization**

In [ ]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
normalizer = MinMaxScaler()
temp_data.dropna(axis = 1 , inplace = True)
normalized_data = normalizer.fit_transform(temp_data)
pd.DataFrame(normalized_data , columns = temp_data.columns)

      Unnamed: 0  Species  ...  Category.One.Defects  Category.Two.Defects
0       0.000000      0.0  ...               0.00000              0.000000
1       0.000747      0.0  ...               0.00000              0.018182
2       0.001495      0.0  ...               0.00000              0.000000
3       0.002242      0.0  ...               0.00000              0.036364
4       0.002990      0.0  ...               0.00000              0.036364
...          ...      ...  ...                   ...                   ...
1334    0.997010      1.0  ...               0.00000              0.018182
1335    0.997758      1.0  ...               0.00000              0.000000
1336    0.998505      1.0  ...               0.00000              0.109091
1337    0.999253      1.0  ...               0.31746              0.018182
1338    1.000000      1.0  ...               1.00000              0.163636

[1339 rows x 14 columns]

**Standardization**

In [ ]:
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(temp_data)
pd.DataFrame(standardized_data , columns = temp_data.columns)

      Unnamed: 0   Species  ...  Category.One.Defects  Category.Two.Defects
0      -1.730758 -0.146143  ...             -0.188118             -0.669682
1      -1.728171 -0.146143  ...             -0.188118             -0.481378
2      -1.725584 -0.146143  ...             -0.188118             -0.669682
3      -1.722997 -0.146143  ...             -0.188118             -0.293074
4      -1.720409 -0.146143  ...             -0.188118             -0.293074
...          ...       ...  ...                   ...                   ...
1334    1.720409  6.842619  ...             -0.188118             -0.481378
1335    1.722997  6.842619  ...             -0.188118             -0.669682
1336    1.725584  6.842619  ...             -0.188118              0.460143
1337    1.728171  6.842619  ...              7.658924             -0.481378
1338    1.730758  6.842619  ...             24.530063              1.025055

[1339 rows x 14 columns]

**Handling With Missing Values**

In [ ]:
data.isnull().sum()

Unnamed: 0                  0
Species                     0
Owner                       7
Country.of.Origin           1
Farm.Name                 359
Lot.Number               1063
Mill                      318
ICO.Number                157
Company                   209
Altitude                  226
Region                     59
Producer                  232
Number.of.Bags              0
Bag.Weight                  0
In.Country.Partner          0
Harvest.Year               47
Grading.Date                0
Owner.1                     7
Variety                   226
Processing.Method         170
Aroma                       0
Flavor                      0
Aftertaste                  0
Acidity                     0
Body                        0
Balance                     0
Uniformity                  0
Clean.Cup                   0
Sweetness                   0
Cupper.Points               0
Total.Cup.Points            0
Moisture                    0
Category.One.Defects        0
Quakers                     1
Color                     218
Category.Two.Defects        0
Expiration                  0
Certification.Body          0
Certification.Address       0
Certification.Contact       0
unit_of_measurement         0
altitude_low_meters       230
altitude_high_meters      230
altitude_mean_meters      230
dtype: int64

In [ ]:
data['altitude_low_meters'].isnull().sum()

230

**Simple Imputer**

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')
agent_col = imputer.fit_transform(data['altitude_low_meters'].values.reshape(-1,1))
pd.DataFrame(agent_col).isnull().sum()

0    0
dtype: int64

In [ ]:
data['altitude_low_meters'].isnull().sum()

230

**Discretization**

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
temp_data.head()

   Unnamed: 0  Species  ...  Category.One.Defects  Category.Two.Defects
0           0        0  ...                     0                     0
1           1        0  ...                     0                     1
2           2        0  ...                     0                     0
3           3        0  ...                     0                     2
4           4        0  ...                     0                     2

[5 rows x 14 columns]

**Quantile Discretization Transform**

In [ ]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)
pd.DataFrame(new_data,columns = temp_data.columns )

      Unnamed: 0  Species  ...  Category.One.Defects  Category.Two.Defects
0            0.0      0.0  ...                   0.0                   0.0
1            0.0      0.0  ...                   0.0                   1.0
2            0.0      0.0  ...                   0.0                   0.0
3            0.0      0.0  ...                   0.0                   2.0
4            0.0      0.0  ...                   0.0                   2.0
...          ...      ...  ...                   ...                   ...
1334         9.0      0.0  ...                   0.0                   1.0
1335         9.0      0.0  ...                   0.0                   0.0
1336         9.0      0.0  ...                   0.0                   5.0
1337         9.0      0.0  ...                   1.0                   1.0
1338         9.0      0.0  ...                   1.0                   6.0

[1339 rows x 14 columns]

**Uniform Discretization Transform**

In [ ]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='uniform')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

      Unnamed: 0  Species  ...  Category.One.Defects  Category.Two.Defects
0            0.0      0.0  ...                   0.0                   0.0
1            0.0      0.0  ...                   0.0                   0.0
2            0.0      0.0  ...                   0.0                   0.0
3            0.0      0.0  ...                   0.0                   0.0
4            0.0      0.0  ...                   0.0                   0.0
...          ...      ...  ...                   ...                   ...
1334         9.0      9.0  ...                   0.0                   0.0
1335         9.0      9.0  ...                   0.0                   0.0
1336         9.0      9.0  ...                   0.0                   1.0
1337         9.0      9.0  ...                   3.0                   0.0
1338         9.0      9.0  ...                   9.0                   1.0

[1339 rows x 14 columns]

**KMeans Discretization Transform**

In [ ]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

      Unnamed: 0  Species  ...  Category.One.Defects  Category.Two.Defects
0            0.0      0.0  ...                   0.0                   0.0
1            0.0      0.0  ...                   0.0                   0.0
2            0.0      0.0  ...                   0.0                   0.0
3            0.0      0.0  ...                   0.0                   0.0
4            0.0      0.0  ...                   0.0                   0.0
...          ...      ...  ...                   ...                   ...
1334         9.0      1.0  ...                   0.0                   0.0
1335         9.0      1.0  ...                   0.0                   0.0
1336         9.0      1.0  ...                   0.0                   1.0
1337         9.0      1.0  ...                   4.0                   0.0
1338         9.0      1.0  ...                   6.0                   2.0

[1339 rows x 14 columns]